<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540996502942-ifsl02kutd6mj21ltl4fk7j3dvb0n73q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540996502942-ifsl02kutd6mj21ltl4fk7j3dvb0n73q</string>
	<key>API_KEY</key>
	<string>AIzaSyDe_iOVUAjvDpcxZDJiDOcJH5S-3paain4</string>
	<key>GCM_SENDER_ID</key>
	<string>540996502942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viam.viamboat</string>
	<key>PROJECT_ID</key>
	<string>viamboat-1eae8</string>
	<key>STORAGE_BUCKET</key>
	<string>viamboat-1eae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540996502942:ios:edd30369be12a07180828f</string>
</dict>
</plist>